<a href="https://colab.research.google.com/github/nileshjoshic/pandas_exercises_guipsamora/blob/master/02_Filtering_and_Sorting_Chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Step 1. Import the necessary libraries

import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [0]:
# Step 2. Import the dataset from this address.
# https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

# Step 3. Assign it to a variable called chipo.
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

In [8]:
print(chipo.item_name.value_counts(dropna = False))

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Carnitas Salad Bowl                        6
Burrito                                    6
Veggie Salad                               6
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: item_name, dtype: int64

In [9]:
chipo.head()

   order_id  quantity                              item_name                                 choice_description item_price
0         1         1           Chips and Fresh Tomato Salsa                                                NaN     $2.39
1         1         1                                   Izze                                       [Clementine]     $3.39
2         1         1                       Nantucket Nectar                                            [Apple]     $3.39
3         1         1  Chips and Tomatillo-Green Chili Salsa                                                NaN     $2.39
4         2         2                           Chicken Bowl  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [13]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [41]:
chipo.query("item_name=='Chicken Bowl'")

      order_id  quantity     item_name                                 choice_description  item_price
4            2         2  Chicken Bowl  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
5            3         1  Chicken Bowl  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
13           7         1  Chicken Bowl  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
19          10         1  Chicken Bowl  [Tomatillo Red Chili Salsa, [Fajita Vegetables...        8.75
26          13         1  Chicken Bowl  [Roasted Chili Corn Salsa (Medium), [Pinto Bea...        8.49
...        ...       ...           ...                                                ...         ...
4590      1825         1  Chicken Bowl  [Roasted Chili Corn Salsa, [Rice, Black Beans,...       11.25
4591      1825         1  Chicken Bowl  [Tomatillo Red Chili Salsa, [Rice, Black Beans...        8.75
4595      1826         1  Chicken Bowl  [Tomatillo Green Chili Salsa, [Rice, Black Bea...        8.75
4599      1827         1  Chicken Bowl      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]        8.75
4604      1828         1  Chicken Bowl  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...        8.75

[726 rows x 5 columns]

In [45]:
# Step 4. Perform necessary cleansing

# clean the item_price column and transform it in a float
#prices = [float(value[1 : -1]) for value in chipo.item_price]
#print(prices)
#prices = lambda x: float(x[1:-1])
#chipo.item_price = chipo.item_price.apply(prices)

# reassign the column with the cleaned prices
#chipo.item_price = prices
#print(chipo)

#print(chipo[chipo.quantity==1])
# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(subset=['item_name','quantity'])

# delete the duplicates in item_name and quantity
#chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
print(chipo_filtered.head(5))

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
print(chipo_one_prod.head(5))

#print(chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique())

   order_id  quantity                              item_name                                 choice_description  item_price
0         1         1           Chips and Fresh Tomato Salsa                                                NaN        2.39
1         1         1                                   Izze                                       [Clementine]        3.39
2         1         1                       Nantucket Nectar                                            [Apple]        3.39
3         1         1  Chips and Tomatillo-Green Chili Salsa                                                NaN        2.39
4         2         2                           Chicken Bowl  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
   order_id  quantity                              item_name                                 choice_description  item_price
0         1         1           Chips and Fresh Tomato Salsa                                                NaN        2.39
1         1         1                                   Izze                                       [Clementine]        3.39
2         1         1                       Nantucket Nectar                                            [Apple]        3.39
3         1         1  Chips and Tomatillo-Green Chili Salsa                                                NaN        2.39
5         3         1                           Chicken Bowl  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98

In [54]:
# Step 5. What is the price of each item?
price_per_item = chipo_one_prod[['item_name', 'item_price']]
price_per_item.sort_values(by = "item_price", ascending = False).head(20)

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75
39            Barbacoa Bowl       11.75
738       Veggie Soft Tacos       11.25
186       Veggie Salad Bowl       11.25
62              Veggie Bowl       11.25
57           Veggie Burrito       11.25
250           Chicken Salad       10.98
5              Chicken Bowl       10.98
8          Steak Soft Tacos        9.25
554   Carnitas Crispy Tacos        9.25
237     Carnitas Soft Tacos        9.25
56      Barbacoa Soft Tacos        9.25
92       Steak Crispy Tacos        9.25
664             Steak Salad        8.99
54               Steak Bowl        8.99
3750         Carnitas Salad        8.99

In [56]:
# Step 6. Sort by the name of the item
chipo.sort_values(by = "item_name", ascending=True)

      order_id  quantity          item_name                                 choice_description  item_price
3389      1360         2  6 Pack Soft Drink                                        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink                                        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink                                             [Coke]        6.49
1860       754         1  6 Pack Soft Drink                                        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink                                             [Coke]        6.49
...        ...       ...                ...                                                ...         ...
2384       948         1  Veggie Soft Tacos  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781        322         1  Veggie Soft Tacos  [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
2851      1132         1  Veggie Soft Tacos  [Roasted Chili Corn Salsa (Medium), [Black Bea...        8.49
1699       688         1  Veggie Soft Tacos  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1395       567         1  Veggie Soft Tacos  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

[4622 rows x 5 columns]

In [58]:
# Step 7. What was the quantity of the most expensive item ordered?
print(chipo.sort_values(by = 'item_price', ascending=False).head(1))
print(chipo.sort_values(by = 'item_price', ascending=False).head(1).iloc[0,1])

      order_id  quantity                     item_name choice_description  item_price
3598      1443        15  Chips and Fresh Tomato Salsa                NaN       44.25
15

In [69]:
# Step 8. How many times were a Veggie Salad Bowl ordered?

a = chipo.query('item_name=="Veggie Salad Bowl"')
a['quantity'].count()

18

In [82]:
# Step 9. How many times people orderd more than one Canned Soda?

a = chipo.query('item_name=="Canned Soda" & quantity>1')
a['quantity'].count()

20