<a href="https://colab.research.google.com/github/nileshjoshic/pandas_exercises_guipsamora/blob/master/Getting_to_know_your_data_Chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Getting and Knowing your Data

In [0]:
#Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [0]:
# Step 2. Import the dataset from this address
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# Step 3. Assign it to a variable called chipo
chipo = pd.read_csv(url, sep = '\t')

In [6]:
# Step 4. See the first 10 entries
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [16]:
# Step 5. What is the number of observations in the dataset?
# Solution 1
print(chipo.shape[0]) # 4622 observations / rows

# Solution 2
print(chipo.info())

4622
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [19]:
# Step 6. What is the number of columns in the dataset?

chipo.shape[1]

5

In [20]:
# Step 7. Print the name of all the columns.

chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [21]:
# Step 8. How is the dataset indexed?
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [74]:
# Step 9. Which was the most-ordered item?
# Solution 1
c = chipo.groupby(['item_name']).sum()
c = c.sort_values(by='quantity', ascending=False)
print(c.head(1))

# Solution 2
c = chipo.groupby(['item_name'], as_index=False)['quantity'].sum().sort_values(by='quantity', ascending=False).head(1)
print(c)

              order_id  quantity
item_name
Chicken Bowl    713926       761
       item_name  quantity
17  Chicken Bowl       761

In [79]:
# Step 10. For the most-ordered item, how many items were ordered?
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [84]:
# Step 11. What was the most ordered item in the choice_description column?
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [90]:
# Step 12. How many items were orderd in total?Â¶
c = chipo.quantity.sum()
c

4972

In [97]:
# Step 13. Turn the item price into a float
# Step 13.a. Check the item price type
print(chipo.item_price.dtype)

# Step 13.b. Create a lambda function and change the type of item price
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

# Step 13.c. Check the item price type
print(chipo.item_price.dtype)

object
float64

In [108]:
# Step 14. How much was the revenue for the period in the dataset?

revenue = (chipo.item_price * chipo.quantity).sum()
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [113]:
# Step 15. How many orders were made in the period?
orders = (chipo.order_id.value_counts()).count()
orders

1834

In [131]:
# Step 16. What is the average revenue amount per order?
#avg_rev = chipo.groupby(by=['order_id']).sum().mean()['revenue']
#avg_rev
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
print(order_grouped.mean()['revenue'])

#Solution 2
print(chipo.groupby(['order_id'])['revenue'].sum().mean())

21.394231188658654
21.394231188658654

In [142]:
# Step 17. How many different items are sold?
print(chipo.item_name.value_counts().count())

50